.I-header{
    width: 100%;
    height: 100%;
}
.I-header .logo{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #000;
}
.I-header .search{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-header .search input{
    border: 1px solid #a3a3a3;
    width: 400px;
    height: 30px;
    padding: 0 10px;
}
.I-header .search a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.I-header .login{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.I-header .login a{
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a3a3a3;
    margin: 0 5px;
    color: #000;
}

.I-body_list_category{
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}
.I-body_list_category .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.I-body_list_category .content{
    margin: 50px 0 0 0;
    width: 100%;
}
.I-body_list_category .content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.I-body_list_category .content ul li{
    float: left;
    width: calc(20% - 10px);
    height: 30px;
    margin: 5px;
}
.I-body_list_category .content ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
}
.I-body_list_category .content ul li a:hover{
    color: #000;
}
.I-body_list_book{
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
}
.I-body_list_book .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
    padding: 0 30px;
}
.I-body_list_book .content{
    width: 100%;
}
.I-body_list_book .content .book_wrapper{
    float: left;
    width: calc(16.66% - 40px);
    overflow: hidden;
    margin: 20px;
}


.I-book{
    width: 100%;
    overflow: hidden;
}
.I-book .book_image{
    width: 100%;
}
.I-book .book_image img{
    width: 100%;
}
.I-book .book_title{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}






