.I-header{
    width: 100%;
    height: 100%;
}
.I-header .logo{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #000;
}
.I-header .search{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-header .search input{
    border: 1px solid #a3a3a3;
    width: 400px;
    height: 30px;
.I-body_list_category{
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}
.I-body_list_category .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.I-body_list_category .content{
    margin: 50px 0 0 0;
    width: 100%;
}
.I-body_list_category .content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.I-body_list_category .content ul li{
    float: left;
    width: calc(20% - 10px);
    height: 30px;
    margin: 5px;
}
.I-body_list_category .content ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
}
.I-body_list_category .content ul li a:hover{
    color: #000;
}

.I-wrapper_book{
    width: 100%;
    margin: 50px 0;
}
.I-wrapper_book .sidebar{
    float: left;
    width: 20%;
    overflow: hidden;
    padding: 0 20px;
}
.I-wrapper_book .sidebar .sidebar_wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.I-wrapper_book .sidebar .sidebar_wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul{
    list-style-type: none;;
    margin: 0;
    padding: 10px 20px;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li{
    width: 100%;
    height: 30px;
    margin: 5px 0;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a .icon{
    
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a .text{
    margin: 0 0 0 10px;
    transition: all 300ms ease;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a:hover .text{
    margin: 0 0 0 20px;
}
.I-wrapper_book .content{
    float: left;
    width: 80%;
    padding: 0 20px;
    overflow: hidden;
}
.I-wrapper_book .content .content_wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.I-wrapper_book .content .content_wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
    padding: 0 30px;
}
.I-wrapper_book .content .content_wrapper .list_book_wrapper{
    width: 100%;
    padding: 20px;
}
.I-wrapper_book .content .content_wrapper .list_book_wrapper .list_book{
    width: 100%;
    height: 100%;
}
.I-wrapper_book .content .content_wrapper .list_book_wrapper .list_book .book_wrapper{
    float: left;
    width: calc(20% - 40px);
    overflow: hidden;
    margin: 20px;
}








    padding: 0 10px;
}
.I-header .search a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.I-header .login{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.I-header .login a{
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a3a3a3;
    margin: 0 5px;
    color: #000;
}

.I-body_list_category{
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}
.I-body_list_category .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.I-body_list_category .content{
    margin: 50px 0 0 0;
    width: 100%;
}
.I-body_list_category .content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.I-body_list_category .content ul li{
    float: left;
    width: calc(20% - 10px);
    height: 30px;
    margin: 5px;
}
.I-body_list_category .content ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
}
.I-body_list_category .content ul li a:hover{
    color: #000;
}
.I-body_list_book{
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
}
.I-body_list_book .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
    padding: 0 30px;
}
.I-body_list_book .content{
    width: 100%;
}
.I-body_list_book .content .book_wrapper{
    float: left;
    width: calc(16.66% - 40px);
    overflow: hidden;
    margin: 20px;
}


.I-body_list_category{
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}
.I-body_list_category .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.I-body_list_category .content{
    margin: 50px 0 0 0;
    width: 100%;
}
.I-body_list_category .content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.I-body_list_category .content ul li{
    float: left;
    width: calc(20% - 10px);
    height: 30px;
    margin: 5px;
}
.I-body_list_category .content ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
}
.I-body_list_category .content ul li a:hover{
    color: #000;
}
.I-wrapper_book{
    width: 100%;
    margin: 50px 0;
}
.I-wrapper_book .sidebar{
    float: left;
    width: 20%;
    overflow: hidden;
    padding: 0 20px;
}
.I-wrapper_book .sidebar .sidebar_wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.I-wrapper_book .sidebar .sidebar_wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul{
    list-style-type: none;;
    margin: 0;
    padding: 10px 20px;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li{
    width: 100%;
    height: 30px;
    margin: 5px 0;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a .icon{
    
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a .text{
    margin: 0 0 0 10px;
    transition: all 300ms ease;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a:hover .text{
    margin: 0 0 0 20px;
}
.I-wrapper_book .content{
    float: left;
    width: 80%;
    padding: 0 20px;
    overflow: hidden;
}
.I-wrapper_book .content .content_wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.I-wrapper_book .content .content_wrapper .book_detail{
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book{
    width: 100%;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #a3a3a3;  
    overflow: hidden;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .image_book{
    float: left;
    width: 30%;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .image_book img{
    width: 100%;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book{
    float: left;
    width: 70%;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper{
    width: 100%;
    padding: 0 0 0 20px;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .name{
    border-top: 1px solid #a3a3a3;  
    width: 100%;
    padding: 30px 0 0 0;
    font-size: 24px;
    color: #337ab7;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .writer{
    width: 100%;
    font-size: 16px;
    color: #000;
    margin: 30px 0 0 0;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .category{
    width: 100%;
    font-size: 16px;
    color: #000;
    margin: 30px 0 0 0;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .view{
    width: 100%;
    font-size: 16px;
    color: #000;
    margin: 30px 0;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .status{
    width: 100%;
    font-size: 16px;
    color: #000;
    margin: 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #a3a3a3;  
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .status.is-open span{
    color: green
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .order{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper .order a{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
}
.I-wrapper_book .content .content_wrapper .book_detail .title_book .infor_book .infor_wrapper span{
    font-weight: bold;
}
.I-wrapper_book .content .content_wrapper .book_detail .content_book{
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
.I-wrapper_book .content .book_related{
    width: 100%;
    height: 100%;
    border: 1px solid #a3a3a3;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 0;
}
.I-wrapper_book .content .book_related .related_wrapper{
    width: 100%;
    overflow: hidden;
}
.I-wrapper_book .content .book_related .related_wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
    padding: 0 30px;
}
.I-wrapper_book .content .book_related .related_wrapper .content{
    width: 100%;
}
.I-wrapper_book .content .book_related .related_wrapper .content .book_wrapper{
    float: left;
    width: calc(20% - 40px);
    overflow: hidden;
    margin: 20px;
}







.I-book{
    width: 100%;
    overflow: hidden;
}
.I-book .book_image{
    width: 100%;
}
.I-book .book_image img{
    width: 100%;
}
.I-book .book_title{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}






