<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <link rel="stylesheet" href="css/bootstrap3.css" />
		<link rel="stylesheet" href="css/style-overview.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/responsive.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
		<script src="js/jquery-3.4.1.min.js"></script>
	</head>
	<body> 
		<header>
			<div class="I-user_header">
				<div class="wrapper">
					<a href="#" class="logo_wrapper">
						Logo
					</a>
					<div class="user_wrapper">
						<a href="#" class="message">
							<i class="far fa-envelope"></i>
						</a>
						<a href="#" class="notification">
							<i class="far fa-bell"></i>
						</a>
						<a href="#" class="user">
							<i class="far fa-user"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="I-user_nav">
				<div class="wrapper">
					<div class="user_nav_wrapper">
						<div class="list_nav">
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-home"></i>
								</div>
								<div class="dropdown">
									<a href="#" class="sub_item">
										Trang chủ
									</a>
									<a href="#" class="sub_item">
										Trang Cá Nhân
									</a>
									<a href="#" class="sub_item">
										
									</a>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-archive"></i>
								</div>
								<div class="dropdown">
									<a href="#" class="sub_item">
										
									</a>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-book"></i>
								</div>
								<div class="dropdown">
									<a href="#" class="sub_item">
										
									</a>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-bookmark"></i>
								</div>
								<div class="dropdown">
									<a href="#" class="sub_item">
										
									</a>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-clone"></i>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-comment"></i>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-file"></i>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-images"></i>
								</div>
							</div>
							<div class="item_nav">
								<div class="link_nav">
									<i class="fas fa-users"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="wrapper">
				<div class="I-layout">
					<div class="layout_wrapper_01">
						<div class="I-data">
							<div class="data_item_wrapper">
								<div class="data_item">
									
								</div>
							</div>
							<div class="data_item_wrapper">
								<div class="data_item">
									
								</div>
							</div>
							<div class="data_item_wrapper">
								<div class="data_item">
									
								</div>
							</div>
							<div class="data_item_wrapper">
								<div class="data_item">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="I-layout flexX">
					<div class="layout_wrapper_02">
						<div class="I-form_input">
							<div class="form_input_wrapper">
								<div class="form_input">
									<div class="title_form bg_primary text_light flexY">
										Input form
									</div>
									<div class="body_form">
										<div class="input_wrapper">
											<div class="input_title flexY">
												Name
											</div>
											<div class="input_form">
												<input type="text" name="">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="input_title flexY">
												Email
											</div>
											<div class="input_form">
												<input type="Email" name="">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="input_title flexY">
												Password
											</div>
											<div class="input_form">
												<input type="password" name="">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="input_title flexY">
												FILE
											</div>
											<div class="input_form image_loader">
												<label class="W100" for="LoadImage">
													<i class="fas fa-upload"></i>
												</label>
												<div class="image_loading">
													<img src="" >
												</div>
												<input type="file" name="" id="LoadImage">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="checkbox_item_wrapper">
												<div class="checkbox_item layout_wrapper_02">
													<div class="I-checkbox">
														<label for="checkbox_id2">
															<div class="rect">
																<i class="fas fa-check"></i>
															</div>
															<div class="text">
																Phân Quyền Quản Lí
															</div>
														</label>
														<input type="checkbox" name="" id="checkbox_id2">
													</div>
												</div>
												<div class="checkbox_item layout_wrapper_02">
													<div class="I-checkbox">
														<label for="checkbox_id2">
															<div class="rect">
																<i class="fas fa-check"></i>
															</div>
															<div class="text">
																Phân Quyền Quản Lí
															</div>
														</label>
														<input type="checkbox" name="" id="checkbox_id2">
													</div>
												</div>
												<div class="checkbox_item layout_wrapper_02">
													<div class="I-checkbox">
														<label for="checkbox_id2">
															<div class="rect">
																<i class="fas fa-check"></i>
															</div>
															<div class="text">
																Phân Quyền Quản Lí
															</div>
														</label>
														<input type="checkbox" name="" id="checkbox_id2">
													</div>
												</div>
												<div class="checkbox_item layout_wrapper_02">
													<div class="I-checkbox">
														<label for="checkbox_id2">
															<div class="rect">
																<i class="fas fa-check"></i>
															</div>
															<div class="text">
																Phân Quyền Quản Lí
															</div>
														</label>
														<input type="checkbox" name="" id="checkbox_id2">
													</div>
												</div>
												<div class="checkbox_item layout_wrapper_02">
													<div class="I-checkbox">
														<label for="checkbox_id2">
															<div class="rect">
																<i class="fas fa-check"></i>
															</div>
															<div class="text">
																Phân Quyền Quản Lí
															</div>
														</label>
														<input type="checkbox" name="" id="checkbox_id2">
													</div>
												</div>
												<div class="checkbox_item layout_wrapper_02">
													<div class="I-checkbox">
														<label for="checkbox_id2">
															<div class="rect">
																<i class="fas fa-check"></i>
															</div>
															<div class="text">
																Phân Quyền Quản Lí
															</div>
														</label>
														<input type="checkbox" name="" id="checkbox_id2">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_02">
						<div class="I-form_input">
							<div class="form_input_wrapper">
								<div class="form_input">
									<div class="title_form bg_success text_light flexY">
										Input form
									</div>
									<div class="body_form">
										<div class="input_wrapper">
											<div class="input_title flexY">
												Name
											</div>
											<div class="input_form">
												<input type="text" name="">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="input_title flexY">
												Email
											</div>
											<div class="input_form">
												<input type="Email" name="">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="input_title flexY">
												Password
											</div>
											<div class="input_form">
												<input type="password" name="">
											</div>
										</div>
										<div class="input_wrapper">
											<div class="input_button">
												<button class="bg_success text_light">Thêm</button>
												<button class="bg_danger text_light">Xóa</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="I-layout">
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_primary">bg_primary</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_success">bg_success</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_info">bg_info</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_warning">bg_warning</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_danger">bg_danger</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_secondary">bg_secondary</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_dark">bg_dark</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color bg_light">bg_light</div>
							</div>
						</div>
					</div>
				</div>
				<div class="I-layout">
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_primary">text_primary</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_success">text_success</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_info">text_info</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_warning">text_warning</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_danger">text_danger</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_secondary">text_secondary</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_dark">text_dark</div>
							</div>
						</div>
					</div>
					<div class="layout_wrapper_08">
						<div class="I-color">
							<div class="color_wrapper">
								<div class="text_color text_light">text_light</div>
							</div>
						</div>
					</div>
				</div>
				<div class="I-layout">
					<div class="layout_wrapper_01">
						<div class="I-table">
							<div class="table_wrapper">
								<div class="title_table">
									Table Name
								</div>
								<table class="table table-bordered">
							    	<thead>
							      		<tr>
								        <th>Firstname</th>
								        <th>Lastname</th>
								        <th>Email</th>
								        <th>Status</th>
								        <th>edit</th>
								        <th>delete</th>
							      	</tr>
							    	</thead>
							    	<tbody>
								      	<tr>
									        <td>John</td>
									        <td>Doe</td>
									        <td>john@example.com</td>
									        <td>
									        	<div class="status_table bg_success text_light">
									        		Process
									        	</div>
									        </td>
									        <td>
									        	<a href="#" class="action_table">
									        		<i class="far fa-edit"></i>
									        	</a>
									        </td>
									        <td>
									        	<a href="#" class="action_table">
									        		<i class="far fa-trash-alt"></i>
									        	</a>
									        </td>
								      	</tr>
							      		<tr>
									        <td>Mary</td>
									        <td>Moe</td>
									        <td>mary@example.com</td>
									        <td>
									        	<div class="status_table bg_warning text_light">
									        		Pending
									        	</div>
									        </td>
									        <td>
									        	<a href="#" class="action_table">
									        		<i class="far fa-edit"></i>
									        	</a>
									        </td>
									        <td>
									        	<a href="#" class="action_table">
									        		<i class="far fa-trash-alt"></i>
									        	</a>
									        </td>
							      		</tr>
							      		<tr>
									        <td>July</td>
									        <td>Dooley</td>
									        <td>july@example.com</td>
									        <td>
									        	<div class="status_table bg_danger text_light">
									        		Close
									        	</div>
									        </td>
									        <td>
									        	<a href="#" class="action_table">
									        		<i class="far fa-edit"></i>
									        	</a>
									        </td>
									        <td>
									        	<a href="#" class="action_table">
									        		<i class="far fa-trash-alt"></i>
									        	</a>
									        </td>
							      		</tr>
							    	</tbody>
							  	</table>
							  	<div class="table_pagination">
							  		<ul class="pagination">
									  	<li><a href="#">1</a></li>
									  	<li><a href="#">2</a></li>
									  	<li><a href="#">3</a></li>
									  	<li><a href="#">4</a></li>
									  	<li><a href="#">5</a></li>
									</ul> 
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			
		</footer>
	</body>
	<script type="text/javascript">
		$('#LoadImage').on('change', function(e){
		    var img = new Image;
		    img.src = URL.createObjectURL(e.target.files[0]);
		    img.onload = function() {
	        	$('.image_loading').find('img').attr('src', URL.createObjectURL(e.target.files[0]))
	    	}
		})
	</script>
	<script src="js/bootstrap3.js"></script>
	<script src="js/effect_custom.js"></script>
</html>


